@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&family=Style+Script&display=swap');
*{
    box-sizing: border-box;
}
.container .jumbotron img{
width: 80px;
height: 80px;
}
.container .jumbotron .title{
    display: flex;
    font-weight: bold;
    flex-direction: row;
}
.container .jumbotron h3{
    margin-top: 100px;
    margin-left: 200px;


}
.container .jumbotron{
    background-image: url(assetes/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    color: #fff;
    font:bold;
    font-weight: bold;
    font-family: 'Style Script', cursive;
}
.container .advert{
    background-image: url(assetes/pizza_background.jpg);
}
.container .advert .group-1{
    flex-direction: column;

}
.container .advert img{
    height: 200px;
    width: 250px;
}
.container-form{
    align-items: center;
    background-image: url(assetes/advert/veggie.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    justify-content: center;
    border-radius: 30px;
    
}
 .checkbox{
    padding:0px;
    
}
.row .card{
    width: 18rem;
}
  form{
    width: 50%;
    margin-left: 20%;
    background-color: beige;
    padding: 60px;
    
  }
  .container-form .order{
    align-items: center;
    
    
 }
 form button{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        }
 .location{
        display: none;
  }
 .container-form .displayOrder{
    display: none;
  }
  .footer {
      font-family: 'Style Script', cursive;;
      background-color: darkgoldenrod;
      border-radius: 30px;
      height: 200px;
      font-size: larger;

  }
  /* media Queries */
  @media only screen  and (min-width: 768px){
    form{
    width: 100%;
    margin-left: 0px;

    }
    .row .card{
        width: 18rem;
    }
   

  }
  @media only screen  and (min-width: 480px){
    form{
    width: 100%;
    margin-left: 0px;

    }
   

  }
 
        